**/*.svg
package.json
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.config.js
*.config.cjs
*.config.mjs
*.lock
cdn.js
yarn-error.log
.history
CNAME
/build
/dist
/public
node_modules
